<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
          <th>#Order No.</th>
          <th>Customer</th>
          <th>P. Method</th>
          <th>G. Total</th>
          <th>
            <a class="btn btn-success" routerLink="/order"><i class="fa fa-plus-square"></i> Create New</a>
          </th>
        </thead>
        <tbody>
          <tr >
            <th ></th>
            <td ></td>
            <td ></td>
            <td ></td>
            <td>
                <!-- <a class="btn text-danger" ><i class="fa fa-trash fa-lg"></i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
</div>