<navbar></navbar>
<face></face>

<div class="color"><h3 class="display-4 text-center"> Book</h3></div>


<div class="container" id="order">
    <form >
        <input type="hidden"  >

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                <label>Order No.</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                    </div>
                    <input name="OrderNo"  class="form-control" readonly>
                </div>
                </div>

                <div class="form-group">
                    <label>Payment Method</label>
                    <select name="PMethod" class="form-control">
                        <option value="">-Select-</option>
                        <option value="DC">DEBIT CARD</option>
                        <option value="CC">CREDIT CARD</option>
                        <option value="I">UPI</option>
                        <option value="Cash">CASH</option>
                        <option value="C">NET BANKING</option>
                        <option value="PW">PAYTM WALLET</option>
                    </select>
                    </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                <label>Customer</label>
                <select name="CustomerID"  class="form-control">
                    <option value="0">-Select-</option>
                    <option  ></option>
                </select>
                </div>

                
                
                <div class="form-group">
                <label>Grand Total</label>       
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">₹</div>
                    </div>
                        <input name="GTotal"  class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- order items table-->
        <table class="table table-borderless ">
        <thead class="thead-dark">
            <th>Food</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
            <a class="btn btn-sm btn-primary text-white" ><i class="fa fa-plus"></i> Add Food Item</a>
            </th>
        </thead>

        <tbody>
            <tr >
            <td class="font-italic text-center" colspan="5">
                No food item selected for this order.
            </td>
            </tr>
    
            <tr >
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td>
                <!-- <a class="btn btn-sm btn-warning text-white" ><i class="fa fa-pencil"></i></a> -->
                <!-- <a class="btn btn-sm btn-danger text-white ml-1" ><i class="fa fa-trash"></i></a> -->
            </td>
            </tr>
        </tbody>
        </table>

        <div class="form-group mid">
        <button type="submit" class="btn btn-primary"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-outline-success ml-1" routerLink="/orders"><i class="fa fa-table"></i> View Orders</a>
        </div>

    </form>
</div>


<footer></footer>